In [1]:
import pandas as pd

In [2]:
# generate a series of dates with the drequency of a day
pd.date_range(start = '1/1/2020', end = '1/15/2020')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# Generate a series of dates with an interval of two days
pd.date_range('1/1/2020','1/15/2020', freq='2D')

DatetimeIndex(['2020-01-01', '2020-01-03', '2020-01-05', '2020-01-07',
               '2020-01-09', '2020-01-11', '2020-01-13', '2020-01-15'],
              dtype='datetime64[ns]', freq='2D')

In [8]:
# Make a time series with the business days only
pd.date_range('1/1/2020', '1/15/2020', freq='B')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13', '2020-01-14', '2020-01-15'],
              dtype='datetime64[ns]', freq='B')

In [9]:
# Incase we have only period (i.e. no end date)
pd.date_range('1/1/2020', periods = 9, freq = 'B')

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-06',
               '2020-01-07', '2020-01-08', '2020-01-09', '2020-01-10',
               '2020-01-13'],
              dtype='datetime64[ns]', freq='B')

In [10]:
# if we have an end date and a period(or how many dates we require)
pd.date_range('1/1/2020', periods = 5)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# Frequency can be months, hours, minutes seconds and many other frequencies (we can use 3M frequency)
pd.date_range('1/1/2020', periods = 5, freq = '3M')

DatetimeIndex(['2020-01-31', '2020-04-30', '2020-07-31', '2020-10-31',
               '2021-01-31'],
              dtype='datetime64[ns]', freq='3M')

In [13]:
# to find out the date of the business month-end day for each month
pd.DataFrame(pd.date_range('1/1/2019', periods=12, freq='BM'), columns=['Date'])

         Date
0  2019-01-31
1  2019-02-28
2  2019-03-29
3  2019-04-30
4  2019-05-31
5  2019-06-28
6  2019-07-31
7  2019-08-30
8  2019-09-30
9  2019-10-31
10 2019-11-29
11 2019-12-31

In [14]:
# incase client is in different time zone, like in Africa):
pd.date_range('1/11/2019', periods=5, tz='Africa/Abidjan', freq='3H')

DatetimeIndex(['2019-01-11 00:00:00+00:00', '2019-01-11 03:00:00+00:00',
               '2019-01-11 06:00:00+00:00', '2019-01-11 09:00:00+00:00',
               '2019-01-11 12:00:00+00:00'],
              dtype='datetime64[ns, Africa/Abidjan]', freq='3H')